
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  font-family: Arial, sans-serif;
}

body {
  display: block !important;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #16a34a;
}


.signup-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.signup-left {
  flex: 1;
  background: linear-gradient(135deg, #16a34a, #0c5d2a);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;

 
}



.logo-text-wrap {
  display: flex;
  align-items: flex-end; 
  gap: 20px;
}

.logo {
  width: 250px;
  height: auto;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.signup-left h1 {
  margin-top: 1px;
  font-size: 55px;
  margin-bottom: 10px;
}

.signup-left p {
  font-size: 20px;
  opacity: 0.95;
}


.signup-right {
  flex: 1;
  background-color: #f0fdf4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.signup-right h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #14532d;
}


.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input {
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #bbf7d0;
  font-size: 16px;
  width: 100%;
  background-color: #f0fdf4;
  border-color: #14532d;
  color: black;
}

.signup-form input:focus {
  outline: none;
  border-color: #16a34a;
  box-shadow: 0 0 0 2px rgba(22, 163, 74, 0.2);
}

.signup-form button:hover {
  background-color: #15803d;
}


.signup-message {
  margin-top: 20px;
  font-size: 14px;
  color: #166534;
  align-self: center;
}

.signup-message span {
  color: #16a34a;
  cursor: pointer;
  font-weight: 600;
}


.butt-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.butt-wrap button {
  padding: 14px;
  border-radius: 999px;
  border: none;
  background-color: #16a34a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 40%;
  align-self: center;
}

.input-group {
    width: 100%;
    margin-bottom: 1rem;
}

.error-message {
    color: #ef4444;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
}

input.error {
    border-color: #ef4444;
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-left, .signup-right {
    padding: 40px;
  }

  .logo {
    width: 180px;
  }

  .signup-left h1 {
    font-size: 40px;
  }

  .signup-right h2 {
    font-size: 26px;
  }

  .butt-wrap button {
    width: 60%;
  }
}
